/* LoginPage.css */
.search-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../Images/image1.jpg');
    background-size: cover;
    background-position: center;
}

.form-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-form input {
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.search-form button {
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* Added to remove underline from link */
}

.guest-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
}
